@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
background-image: linear-gradient(to right,#3E92CC,#BBDBB4);
}

main{
    background-color: white;
    border-radius: 10px;;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #bbdbb400;

}

p{
    text-align: justify;
}

h1 {
    color: #2D3047;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
h2 {
    color: #3E92CC;
    text-shadow: 1px 1px 1px  #1c425eea;
}